[submodule "tools/typeshed_serializer/resources/typeshed"]
	path = python-frontend/typeshed_serializer/resources/typeshed
	url = https://github.com/python/typeshed.git
	shallow = true
[submodule "tools/typeshed_serializer/resources/python-type-stubs"]
	path = python-frontend/typeshed_serializer/resources/python-type-stubs
	url = https://github.com/microsoft/python-type-stubs
	shallow = true
[submodule "private/its-enterprise/sources_ruling"]
	path = private/its-enterprise/sources_ruling
	url = https://github.com/SonarSource/python-test-sources.git
	branch = master-temp
	shallow = true
