[submodule "its/sources"]
	path = its/sources
	url = https://github.com/SonarCommunity/python-test-sources.git
[submodule "its/sources_extended"]
	path = its/sources_extended
	url = https://github.com/SonarCommunity/python-test-sources.git
	branch = extended
[submodule "tools/typeshed_serializer/resources/typeshed"]
	path = python-frontend/typeshed_serializer/resources/typeshed
	url = https://github.com/python/typeshed.git
[submodule "tools/typeshed_serializer/resources/python-type-stubs"]
	path = python-frontend/typeshed_serializer/resources/python-type-stubs
	url = https://github.com/microsoft/python-type-stubs
