Alban Auzeill <alban.auzeill@sonarsource.com>
Alexandre Gigleux <alexandre.gigleux@sonarsource.com>
Alexandre Gigleux <alexandre.gigleux@sonarsource.com> <alexandre.gigleux@gmail.com>
Andrea Guarino <andrea.guarino@sonarsource.com>
Andrea Guarino <andrea.guarino@sonarsource.com> <38876543+andrea-guarino-sonarsource@users.noreply.github.com>
Andrea Epure <andrei.epure@sonarsource.com>
Andrea Epure <andrei.epure@sonarsource.com> <38876598+andrei-epure-sonarsource@users.noreply.github.com>
Andrey Tyukin <andrey.tyukin@sonarsource.com>
Andrey Tyukin <andrey.tyukin@sonarsource.com> <63865868+andrey-tyukin-sonarsource@users.noreply.github.com>
Anton Haubner <anton.haubner@sonarsource.com>
Benjamin Raymond <benjamin.raymond@sonarsource.com>
Benjamin Raymond <benjamin.raymond@sonarsource.com> <31401273+7PH@users.noreply.github.com>
Christophe Zurn <christophe.zurn@sonarsource.com>
Christophe Zurn <christophe.zurn@sonarsource.com> <36889251+christophe-zurn-sonarsource@users.noreply.github.com>
David Kunzmann <david.kunzmann@sonarsource.com>
David Kunzmann <david.kunzmann@sonarsource.com> <joke1196@users.noreply.github.com>
David Kunzmann <david.kunzmann@sonarsource.com> <6317721+joke1196@users.noreply.github.com>
David Cho-Lerat <117642976+david-cho-lerat-sonarsource@users.noreply.github.com>
David Gageot <david@gageot.net>
David Rautureau <david.rautureau@sonarsource.com>
Dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
Dmitry Golovinov <dmitry.golovinov@sonarsource.com>
Dmitry Golovinov <dmitry.golovinov@sonarsource.com> <64070475+dmitry-golovinov-sonarsource@users.noreply.github.com>
Dinesh Bolkensteyn <dinesh@dinsoft.net>
Duarte Meneses <duarte.meneses@sonarsource.com>
Eduard-Cristian Stefan <alexandrul@users.noreply.github.com>
Elena Vilchik <elena.vilchik@sonarsource.com>
Elena Vilchik <elena.vilchik@sonarsource.com> <vilchik.elena@gmail.com>
Elena Vilchik <elena.vilchik@sonarsource.com> <elenavilchik@Elena-iMac.local>
Eric Hartmann <eric.hartmann@sonarsource.com>
Eric Hartmann <eric.hartmann@sonarsource.com> <hartmann.eric@gmail.com>
Eric Hartmann <eric.hartmann@sonarsource.com> <hartmann.eric@gmail.Com>
Erik Mulder <ewjmulder@yahoo.com>
Evgeny Mandrikov <mandrikov@gmail.com>
Evgeny Mandrikov <mandrikov@gmail.com> <138671+Godin@users.noreply.github.com>
Freddy Mallet <freddy.mallet@sonarsource.com>
Freddy Mallet <freddy.mallet@sonarsource.com> <freddy.mallet@gmail.com>
G. Ann Campbell <ganncamp@gmail.com>
Ghislain Piot <ghislain.piot@sonarsource.com>
Ghislain Piot <ghislain.piot@sonarsource.com> <ghislain.piot@free.fr>
Ghislain Piot <ghislain.piot@sonarsource.com> <1531782+ghislainpiot@users.noreply.github.com>
Guillaume Dequenne <guillaume.dequenne@sonarsource.com>
Guillaume Dequenne <guillaume.dequenne@sonarsource.com> <54781802+guillaume-dequenne-sonarsource@users.noreply.github.com>
Gyula Sallai <gyula.sallai@sonarsource.com>
Gyula Sallai <gyula.sallai@sonarsource.com> <61680650+gyula-sallai-sonarsource@users.noreply.github.com>
Eric Hirlemann <eric.hirlemann@sonarsource>
Jeremi Do Dinh <jeremi.dodinh@sonarsource.com>
Julien Boucher <31621097+juboucher@users.noreply.github.com>
Julien Carsique <julien.carsique@sonarsource.com>
Julien Lancelot <julien.lancelot@sonarsource.com>
Julien Lancelot <julien.lancelot@sonarsource.com> <julien.lancelot@gmail.com>
Karim El Ouerghemmi <karim.ouerghemmi@sonarsource.com>
Karim El Ouerghemmi <karim.ouerghemmi@sonarsource.com> <64004037+karim-ouerghemmi-sonarsource@users.noreply.github.com>
Linda Martin <linda.martin@sonarsource.com>
LuNoX <maillunox@gmail.com>
Maksim Grebeniuk <maksim.grebeniuk@sonarsource.com>
Maksim Grebeniuk <maksim.grebeniuk@sonarsource.com> <122789225+maksim-grebeniuk-sonarsource@users.noreply.github.com>
Malena Ebert <malena.ebert@sonarsource.com>
Malena Ebert <malena.ebert@sonarsource.com> <63863184+malena-ebert-sonarsource@users.noreply.github.com>
Marcin Stachniuk <marcin.stachniuk@sonarsource.com>
Marco Bearzi <marco.bearzi@sonarsource.com>
Marco Bearzi <marco.bearzi@sonarsource.com> <100424414+marco-bearzi-sonarsource@users.noreply.github.com>
Massimo Paladin <massimo.paladin@sonarsource.com>
Massimo Paladin <massimo.paladin@sonarsource.com> <massimo.paladin@gmail.com>
Mate Molnar <mate.molnar@sonarsource.com>
Mate Molnar <mate.molnar@sonarsource.com> <matemoln@users.noreply.github.com>
Matthew Stoltenberg <d3matt@gmail.com>
Michael Gumowski <michael.gumowski@sonarsource.com>
Mincong Huang <mincong-h@users.noreply.github.com>
Nicolas Peru <nicolas.peru@sonarsource.com>
Nicolas Harraudeau <nicolas.harraudeau@sonarsource.com>
Nicolas Harraudeau <nicolas.harraudeau@sonarsource.com> <40498978+nicolas-harraudeau-sonarsource@users.noreply.github.com>
Nils Werner <nils.werner@sonarsource.com>
Nils Werner <nils.werner@sonarsource.com> <64034005+nils-werner-sonarsource@users.noreply.github.com>
Pavel Mikula <pavel.mikula@sonarsource.com>
Pierre-Yves Nicolas <pierre-yves.nicolas@sonarsource.com>
Quentin Jaquier <quentin.jaquier@sonarsource.com>
Quentin Jaquier <quentin.jaquier@sonarsource.com> <43733433+quentin-jaquier-sonarsource@users.noreply.github.com>
Renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>
Rudy Regazzoni <rudy.regazzoni@sonarsource.com>
Rudy Regazzoni <rudy.regazzoni@sonarsource.com> <110470341+rudy-regazzoni-sonarsource@users.noreply.github.com>
Samir Marini <samir.marini@sonarsource.com>
Samir Marini <samir.marini@sonarsource.com> <marini.samir.info@gmail.com>
Sebastian Zumbrunn <sebastian.zumbrunn@sonarsource.com>
Simon Brandhof <simon.brandhof@sonarsource.com>
Simon Brandhof <simon.brandhof@sonarsource.com> <simon.brandhof@gmail.com>
Sonartech <sonartech@sonarsource.com>
Thomas Serre <thomas.serre@sonarsource.com>
Thomas Serre <thomas.serre@sonarsource.com> <118730793+thomas-serre-sonarsource@users.noreply.github.com>
Tibor Blenessy <tibor.blenessy@sonarsource.com>
Tom Verin <thomas.verin@sonarsource.com>
Waleri Enns <waleri.enns@googlemail.com>
Waleri Enns <waleri.enns@googlemail.com> <waleri.enns@gmail.com>
Waleri Enns <waleri.enns@googlemail.com> <wen@contact.de>
Waleri Enns <waleri.enns@googlemail.com> <wen@CON-WEN.(none)>
Yann Diorcet <yann.diorcet@xenocs.com>
Yassin Kammoun <yassin.kammoun@sonarsource.com>
Yves Dubois-Pelerin <yves.duboispelerin@sonarsource.com>
Yves Dubois-Pelerin <yves.duboispelerin@sonarsource.com> <ivandalbosco@users.noreply.github.com>
