# WhiteSource documentation https://docs.mend.io/legacy-sca/latest/unified-agent-configuration-parameters

excludes=**/*sources.jar **/*javadoc.jar its/plugin/it-python-plugin-test/projects/** private/its-enterprise/** python-frontend/typeshed_serializer/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=True
maven.runPreStep=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true

# Python dependencies https://docs.mend.io/legacy-sca/latest/python-parameters
python.resolveDependencies = true

python.installVirtualenv = true

python.resolveHierarchyTree = true

python.ignorePipInstallErrors = false

python.resolvePipEditablePackages = true
