# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

excludes=**/*sources.jar **/*javadoc.jar its/sources/** its/plugin/it-python-plugin-test/projects/** python-frontend/typeshed_serializer/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=True
maven.runPreStep=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true

# Python dependencies https://whitesource.atlassian.net/wiki/spaces/WSK/pages/2446229505/Configuring+the+Unified+Agent+for+Python
python.resolveDependencies = true

python.installVirtualenv = true

python.resolveHierarchyTree = true

python.ignorePipInstallErrors = false

python.resolvePipEditablePackages = true
