name: Releasability status
'on':
  check_suite:
    types:
      - completed
  workflow_dispatch: 

jobs:
  update_releasability_status:
    runs-on: ubuntu-latest
    name: Releasability status
    permissions:
      id-token: write
      statuses: write
      contents: read
    if: >-
      github.event_name == 'workflow_dispatch' ||
      ((contains(fromJSON('["main", "master"]'),
      github.event.check_suite.head_branch) ||
      startsWith(github.event.check_suite.head_branch, 'dogfood-') ||
      startsWith(github.event.check_suite.head_branch, 'branch-')) &&
      github.event.check_suite.conclusion == 'success' &&
      github.event.check_suite.app.slug == 'cirrus-ci')
    steps:
      - uses: >-
          SonarSource/gh-action_releasability/releasability-status@v1.2.1
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
